/out/production/java-helloworld/com/example/helloworld/HelloWorld.class
/out/artifacts/java_helloworld_jar/java-helloworld.jar
/out/production/java-helloworld/META-INF/MANIFEST.MF
/src/META-INF/MANIFEST.MF
